# Logs
keys.ts
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Solidity
contract/cache/
contract/out/
contract/lib/
contract/.build/

# Dev broadcast logs
!contract/broadcast
contract/broadcast/*/31337/
contract/broadcast/**/dry-run/

# Docs
contract/docs/
.env

# Playwright-specific
playwright-report/
playwright/.auth